@font-face {
    font-family: "gFont";
    src: url("폰트/Pretendard-Light.ttf") format('truetype');
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "sFont";
    src: url("폰트/SingleDay-Regular.ttf") format('truetype');
    font-display: swap;
    font-style: normal;
}
* {
    box-sizing: border-box;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
body {
    box-sizing: border-box;
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-family: "gFont";    
    background-color: black;
    word-break: keep-all;

}
.col-12 {
    padding: 0px;
}
.logo {
    padding: 0px;
}
a {
    text-decoration: none;
}
/*네비*/
nav {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
.logoBox {
    width: fit-content;
}
.logoBox > img {
    width: 100%;
    max-width: 300px;
    min-width: 50px;
}
.buttonBox {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}
.buttonBox > a, .buttonBox > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 24px;
    width: fit-content;
    font-weight: 900;
}

.buttonBox > a:hover {
    color: #fbaf3f;
    transition: 0.5s;
}
@media (max-width: 1200px) {
    .buttonBox {
        width: 100%;
    }
    .logoBox {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .buttonBox > a, .buttonBox > div {
        font-size: 16px;
    }
}
#away {
    position: relative;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}
.test {
    position: absolute;
    background-color: white;
    top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width: 500px) {
    .test {
        top: 25px;
    }
}
.test > a {
    display: block;
    text-align: center;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.test > a:hover {
    color: #fbaf3f;
    transition: 0.5s;
    background-color: gray;
}
.hide {
    display: none;
}
/*bodySection*/
.bodySection {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/madoyo-78d70.appspot.com/o/sky%2Fbg.png?alt=media&token=bf8895fe-a566-4a07-94f6-4b33948e394f);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-family: 'gfont';
}
.bodySection2 {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/madoyo-78d70.appspot.com/o/sky%2Fbg2.jpg?alt=media&token=16214971-ee0b-426a-8f18-b6ce8ef8ff99);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-family: 'gfont';
}
.textBig {
    font-size: 44px;
    color: white;
    font-weight: 700;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(17, 17, 17, 0.8);
}
.textMid {
    font-size: 32px;
    color: white;
    font-weight: 700;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(17, 17, 17, 0.8);
}
.text {
    font-size: 24px;
    color: white;
    font-weight: 700;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(17, 17, 17, 0.8);
    margin-top: 5px;
}
.mt20 {
    margin-top: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.img1 {
    width: 100%;
    max-width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.contactBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;

}
.contactBoxContent {
    width: 80%;
    max-width: 300px;
    padding: 20px;
    background-color: white;
    display: block;
    color: black;
    font-weight: 700;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 2rem;
}
@media (max-width: 1200px) {
    .contactBoxContent {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
.imgbox {
    display: flex;
    flex-direction: column;
}
.imgbox > img {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer > img {
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
}
.footerText {
    color: white;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: -20px;
}
.footerNav > a {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
}
.footerNav > a:hover {
    color: #fbaf3f;
    transition: 0.5s;
}

.footerEnd {
    margin-top: 20px;
    padding-top: 10px;
    color: white;
}


@media (max-width:1200) {
    .textBig {
        font-size: 24px;
    }
    .textMid {
        font-size: 18px;
    }
    .text {
        font-size: 12px;
    }
    .footerText {
        font-size: 14px;
    }
}
